<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<th:block th:include="fragments/common.html :: htmlheader"></th:block>
    <style>
        .form-group { display: flex; }
        #addInputColumnButton { margin-bottom: 15px; }
        .alert {
            background-color: #f44336;
            color: white;
            width: 100%;
            margin: 10px;
        }
    </style>
<body>
<header th:replace="fragments/common.html :: header"></header>

<main class="container" role="main">
    <div class="row">
        <div class="col">
        <ul class="nav nav-pills nav-fill mt-3">
            <li class="nav-item">
                <a class="nav-link active" href="#">Policies</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Users</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Inference Attack Logs</a>
            </li>
            </ul>
        </div>
    </div>
    <div class="row" th:if="${validationErr}">
        <div class="alert">
            Error: Input is invalid
        </div> 
    </div>
     <div class="row">
        <div class="col">
            <h1>Add Policy: <span th:text="${policy.id}" /></h1>
            <form id="addPolicy" th:action="@{/addPolicy(policyId=${policy.id})}"  th:object="${policy}" method="post">
                <input hidden th:name="id" th:value="${policy.id}"/>
                <p>Input Columns:</p>
                <div id="input-columns">
                    <div class="form-group">
                        <select name="inputColumns[0]" path="input-columns">
                            <option value="NONE" label="--- Select ---"/>
                            <optgroup label="Patient Info">
                                <option value="patient_info.name">patient_info.name</option>
                                <option value="patient_info.date_of_entry">patient_info.date_of_entry</option>
                                <option value="patient_info.date_of_leave">patient_info.date_of_leave</option>
                                <option value="patient_info.gender">patient_info.gender</option>
                            </optgroup>
                            <optgroup label="Patient Medical Info">
                                <option value="patient_medical_info.patient_id">patient_medical_info.patient_id</option>
                                <option value="patient_medical_info.reason_of_visit">patient_medical_info.reason_of_visit</option>
                                <option value="patient_medical_info.length_of_stay">patient_medical_info.length_of_stay</option>
                            </optgroup>
                        </select>
                        <button type="button" class="btn btn-danger  fas fa-trash"/>
                    </div>
                </div>
                <button id="addInputColumnButton" type="button" class="btn btn-success">Add Input Column</button>

                <p>Blocked Columns:</p>
                <div id="blocked-columns">
                    <div class="form-group">
                        <select name="blockedColumns[0]" path="blocked-columns">
                            <option value="NONE" label="--- Select ---"/>
                            <optgroup label="Patient Info">
                                <option value="patient_info.name">patient_info.name</option>
                                <option value="patient_info.date_of_entry">patient_info.date_of_entry</option>
                                <option value="patient_info.date_of_leave">patient_info.date_of_leave</option>
                                <option value="patient_info.gender">patient_info.gender</option>
                            </optgroup>
                            <optgroup label="Patient Medical Info">
                                <option value="patient_medical_info.patient_id">patient_medical_info.patient_id</option>
                                <option value="patient_medical_info.reason_of_visit">patient_medical_info.reason_of_visit</option>
                                <option value="patient_medical_info.length_of_stay">patient_medical_info.length_of_stay</option>
                            </optgroup>
                        </select>
                        <button type="button" class="btn btn-danger  fas fa-trash"/>
                    </div>
                </div>
                <div class="row">
                        <div class="col mb-2">
                            <button id="addBlockedColumnButton" type="button" class="btn btn-success">Add Blocked Column</button>
                        </div>
                </div>
                <p>Relationship:</p>
                <div id="relationship">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Relationship" th:field="${policy.relationship}">
                    </div>
                </div>             

                <div class="row">
                    <div class="col mt-2" >
                        <button type="submit" class="btn btn-primary">Submit</button>
                        <a class="btn btn-primary" href="/admin">Go Back</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</main>
<!-- /.container -->
<footer  th:replace="fragments/common.html :: htmlfooter"></footer>
<script type="text/javascript">

function inputComponentBuilder(num) {
    const inputComponent = `<div class="form-group">
                            <select name="inputColumns[${num}]" path="input-columns">
                            <option value="NONE" label="--- Select ---"/>
                            <optgroup label="Patient Info">
                                <option value="patient_info.name">patient_info.name</option>
                                <option value="patient_info.date_of_entry">patient_info.date_of_entry</option>
                                <option value="patient_info.date_of_leave">patient_info.date_of_leave</option>
                                <option value="patient_info.gender">patient_info.gender</option>
                            </optgroup>
                            <optgroup label="Patient Medical Info">
                                <option value="patient_medical_info.patient_id">patient_medical_info.patient_id</option>
                                <option value="patient_medical_info.reason_of_visit">patient_medical_info.reason_of_visit</option>
                                <option value="patient_medical_info.length_of_stay">patient_medical_info.length_of_stay</option>
                            </optgroup>
                            </select>
                            <button type="button" class="btn btn-danger  fas fa-trash"/>
                            </div>`;
    return inputComponent;
}

function blockedComponentBuilder(num) {
    const inputComponent = `<div class="form-group">
                            <select name="blockedColumns[${num}]" path="blocked-columns">
                            <option value="NONE" label="--- Select ---"/>
                            <optgroup label="Patient Info">
                                <option value="patient_info.name">patient_info.name</option>
                                <option value="patient_info.date_of_entry">patient_info.date_of_entry</option>
                                <option value="patient_info.date_of_leave">patient_info.date_of_leave</option>
                                <option value="patient_info.gender">patient_info.gender</option>
                            </optgroup>
                            <optgroup label="Patient Medical Info">
                                <option value="patient_medical_info.patient_id">patient_medical_info.patient_id</option>
                                <option value="patient_medical_info.reason_of_visit">patient_medical_info.reason_of_visit</option>
                                <option value="patient_medical_info.length_of_stay">patient_medical_info.length_of_stay</option>
                            </optgroup>
                            </select>
                            <button type="button" class="btn btn-danger  fas fa-trash"/>
                            </div>`;
    return inputComponent;
}

$(document).ready(function(){
    $("#addInputColumnButton").click(function(){
        let num = $("#input-columns > div").length;
        $("#input-columns").append(inputComponentBuilder(num));
    });

    $("#addBlockedColumnButton").click(function(){
        let num = $("#blocked-columns > div").length;
        $("#blocked-columns").append(blockedComponentBuilder(num));
    });

    $(document).on('click','button.btn-danger', function(){
        $(this).parent().remove();
    });
});
</script>
</body>
</html>
