<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <title>IFS Demo</title>
    <link rel="stylesheet" th:href="@{webjars/bootstrap/4.3.1/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">IFS System Demo</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/admin">Admin <span class="sr-only">(current)</span></a>
      </li>
    </ul>
    <div class="my-2 my-lg-0">
      <a class="btn btn-outline-success my-2 my-sm-0" href="/logout">Logout</a>
    </div>
  </div>
</nav>

<main class="container" role="main">
    <div class="row">
        <div class="col">
        <ul class="nav nav-pills nav-fill mt-3">
            <li class="nav-item">
                <a class="nav-link active" href="#">Policies</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="#">Users</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Inference Attack Logs</a>
            </li>
            </ul>
        </div>
    </div>
     <div class="row">
        <div class="col">
            <h1>Add a New Policy:</h1>
            <form action="#" th:action="@{/addNewPolicy}"  th:object="${addNewPolicy}" method="post">
            <!-- <form action="/addNewPolicy" method="post"> -->
                <div class="form-group">
                    <label for="exampleInputEmail1">Input Columns:</label>
                    <input type="text" class="form-control" id="exampleInputColumn" placeholder="patient_info.date_of_entry + patient_info.date_of_leave">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Blocked Columns:</label>
                    <input type="text" class="form-control" id="exampleBlockedColumn" placeholder="patient_medical_info.length_of_stay">
                </div>
                <div class="form-group">
                <label for="exampleInputPassword1">Policy Rule:</label>
                <input type="text" class="form-control" id="examplePolicyRule" placeholder="If (patient_info.date_of_leave  -  patient_info.date_of_entry = patient_medical_info.length_of_stay) Then Block Column ">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
                <a class="btn btn-primary" href="/admin">Go Back</a>
            </form>
        </div>
    </div>
</main>
<!-- /.container -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script th:src="@{webjars/bootstrap/4.3.1/js/bootstrap.min.js}" type="text/javascript">
$(document).ready(function(){
});
</script>
</body>
</html>
