<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<th:block th:include="fragments/common.html :: htmlheader"></th:block>
</head>
<style>
  .alert {
      background-color: #f44336;
      color: white;
      width: 100%;
      margin: 10px;
  }
</style>
<body>
  <header th:replace="fragments/common.html :: header"></header>
  <main class="container" role="main">
    <div class="row">
      <div class="col">
        <ul class="nav nav-pills nav-fill mt-3">
          <li class="nav-item">
            <a class="nav-link " href="#">Policies</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="#">Users</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Inference Attack Logs</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="row" th:if="${validationErr}">
        <div class="alert">
            <span th:text="${validationErr}"/>
        </div> 
    </div>
    <div class="row">
      <div class="col">
        <h1>Add a New User:</h1>
        <form id="addUserForm" th:action="@{/addUser}" th:object="${user}" method="post">
          <div class="form-group">
            <input hidden th:name="id" th:value="0" />
            <label for="exampleInputEmail1">User Name:</label>
            <input type="text" required class="form-control" name="userName" placeholder="Input a User Name">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">User Password:</label>
            <input type="password" required class="form-control" name="password" placeholder="Input a User Password">
            <input id="creationDate" hidden th:name="creationDate" th:value="${user.creationDate}" />
            <input id="lastLoginDate" hidden th:name="lastLoginDate" th:value="${user.lastLoginDate}" />
          </div>
          <div class="form-group">
            <label for="UserRole">User Role:</label>
            <br>
            <select required class="form-control" name="role" id="role">
              <option label="--- Select ---"/>
              <option th:name="role" th:each="role : ${availableRoles}" th:value="${role.id}" th:text="${role.name}"></option>
            </select>
          </div>
          <button type="submit" class="btn btn-primary" onclick="DoSubmit()">Submit</button>
          <a class="btn btn-primary" href="/users" onclick="return confirm('Are you sure you want to withdraw all the changes?')">Go Back</a>
        </form>
      </div>
    </div>
  </main>
  <!-- /.container -->
  <footer  th:replace="fragments/common.html :: htmlfooter"></footer>
  <script type="text/javascript">
    function DoSubmit() {
      // Putting the Date into format yyyy-MM-dd
      var d = new Date();
      var date = [
        d.getFullYear(),
        ('0' + (d.getMonth() + 1)).slice(-2),
        ('0' + d.getDate()).slice(-2)
      ].join('-');
      document.getElementById("creationDate").value = date;
    }
  </script>
</body>

</html>
