<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<th:block th:include="fragments/common.html :: htmlheader"></th:block>
</head>
<body>
<header th:replace="fragments/common.html :: header"></header>

<main class="container" role="main">
    <div class="row">
        <div class="col">
        <ul class="nav nav-pills nav-fill mt-3">
            <li class="nav-item">
                <a class="nav-link active" href="#">Policies</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/users">Users</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/logs">Inference Attack Logs</a>
            </li>
            </ul>
        </div>
    </div>
     <div class="row">
        <div class="col">
            <h1>Current Database Policies:</h1>
            <table class="table">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Input Columns</th>
                    <th scope="col">Blocked Columns</th>
                    <th scope="col">Actions</th>
                </tr>
                </thead>
                <tbody>
                <!--/*@thymesVar id="policies" type="com.example.demo.data.model.Policy"*/-->
                <tr th:each="policy : ${policies}">
                    <th scope="row" th:text="${policy.id}"/>
                    <td>
                        <ul th:each="inputColumn : ${policy.inputColumns}">
                            <li th:text="${inputColumn}" />
                        </ul>
                    </td>
                    <td>
                        <ul th:each="blockedColumn : ${policy.blockedColumns}">
                            <li th:text="${blockedColumn}" />
                        </ul>
                    </td>
                    <td>
                        <div class="btn-group" role="group" aria-label="Basic example">
                            <a class="btn btn-primary" href="/editPolicy?policyId=1">   
                                <span class="fas fa-edit">
                            </a>                            
                            <a class="btn btn-danger" th:href="@{/deletePolicy(policyId=${policy.id})}">
                                <span class="fas fa-trash">
                            </a>
                        </div>    
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <a type="button" class="btn btn-success fas fa-plus" href="/addPolicy" > Add Policy</a>
        </div>
    </div>
    
</main>
<!-- /.container -->
<footer  th:replace="fragments/common.html :: htmlfooter"></footer>
</body>
</html>
