<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/common.html :: htmlheader">
</head>
<body>
<header th:replace="fragments/common.html :: header"></header>

<main class="container" role="main">
    <div class="row">
        <div class="col">
        <ul class="nav nav-pills nav-fill mt-3">
            <li class="nav-item">
                <a class="nav-link active" href="#">Policies</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Users</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Inference Attack Logs</a>
            </li>
            </ul>
        </div>
    </div>
     <div class="row">
        <div class="col">
            <h1>Edit Policy: <span th:text="${policy.id}" /></h1>
            <form id="editPolicy" action="/editPolicy" th:action="@{/editPolicy(policyId=${policy.id})}"  th:object="${policy}" method="post">
                <input hidden th:name="id" th:value="${policy.id}"/>
                <p>Input Columns:</p>
                <div id="input-columns">
                    <div class="form-group" th:each="x, itemStat : ${policy.inputColumns}">
                        <input type="text" class="form-control" th:field="${policy.inputColumns[__${itemStat.index}__]}">
                        <button type="button" class="btn btn-danger  fas fa-trash"/>
                    </div>
                </div>
                <button id="addInputColumnButton" type="button" class="btn btn-success">Add Input Column</button>

                <p>Blocked Columns:</p>
                <div id="blocked-columns">
                    <div class="form-group" th:each="x, itemStat : ${policy.blockedColumns}">
                        <input type="text" class="form-control" th:field="${policy.blockedColumns[__${itemStat.index}__]}">
                        <button type="button" class="btn btn-danger  fas fa-trash"/>
                    </div>
                </div>
                <div class="row">
                        <div class="col mb-2">
                            <button id="addBlockedColumnButton" type="button" class="btn btn-success">Add Blocked Column</button>
                        </div>
                </div>

                <div class="row">
                    <div class="col mt-2" >
                        <button type="submit" class="btn btn-primary">Submit</button>
                        <a class="btn btn-primary" href="/admin">Go Back</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</main>
<!-- /.container -->
<footer  th:replace="fragments/common.html :: htmlfooter"></footer>
<script type="text/javascript">

function inputComponentBuilder(num) {
    const inputComponent = `<div class="form-group">
                            <input type="text" name="inputColumns[${num}]" class="form-control" placeholder="Column Name">
                            <button type="button" class="btn btn-danger  fas fa-trash"/>
                            </div>`;
    return inputComponent;
}

function blockedComponentBuilder(num) {
    const inputComponent = `<div class="form-group">
                            <input type="text" name="blockedColumns[${num}]" class="form-control" placeholder="Column Name">
                            <button type="button" class="btn btn-danger  fas fa-trash"/>
                            </div>`;
    return inputComponent;
}

$(document).ready(function(){
    $("#addInputColumnButton").click(function(){
        let num = $("#input-columns > div").length;
        $("#input-columns").append(inputComponentBuilder(num));
    });

    $("#addBlockedColumnButton").click(function(){
        let num = $("#blocked-columns > div").length;
        $("#blocked-columns").append(blockedComponentBuilder(num));
    });

    $(".btn-danger").click(function(){
       $(this).parent().remove();
    })

});
</script>
</body>
</html>
