<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<th:block th:include="fragments/common.html :: htmlheader"></th:block>
</head>
<body>
<header th:replace="fragments/common.html :: header"></header>

<main class="container" role="main">
       <div class="row">
        <div class="col">
        <ul class="nav nav-pills nav-fill mt-3">
            <li class="nav-item">
                <a class="nav-link active" href="/">Home</a>
            </li>
             <li class="nav-item">
                <a class="nav-link" href="/patientMedicalInfo">Patient Medical Info</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/patientInfo">Patient Info</a>
            </li>
            </ul>
        </div>
    </div>
    <div class="card mt-3">
        <div class="card-body">
            <h1>Inference Detection System Demo</h1>
            <p>This demo will demonstrate a simple inference attack, and how our system will handle it </p>
            <h2>Steps to test</h2>
            <ul>
                <li>Login as Administrator</li>
                <li>Click on Admin link at the top left</li>
                <li>Under the Policies tab, click on Add Policy, and add the input columns, and the relationship between them. Then add the blocked columns that you want prevent users from seeing in case of an inference.</li>
                <li>Under the Users tab, click on Add User, and enter the User Name, User Password, and User Role</li>
                <li>Click logout on the top right, and login as the newly created user</li>
                <li>Click on the Patient Medical Info, and perform a search, then click on Patient Info and click a search</li>
                <li>If an inference was detected, the blocked columns will show up as "Not Authorized"</li>

            </ul>
        </div>
    </div>
</main>
<!-- /.container -->
<footer  th:replace="fragments/common.html :: htmlfooter"></footer>
</body>
</html>
