<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<th:block th:include="fragments/common.html :: htmlheader"></th:block>
</head>
<body>
<header th:replace="fragments/common.html :: header"></header>

<main class="container" role="main">
       <div class="row">
        <div class="col">
        <ul class="nav nav-pills nav-fill mt-3">
            <li class="nav-item">
                <a class="nav-link active" href="/">Home</a>
            </li>
             <li class="nav-item">
                <a class="nav-link" href="/patientMedicalInfo">Patient Medical Info</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/patientInfo">Patient Info</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/billingInfo">Billing Info</a>
            </li>
            </ul>
        </div>
    </div>
    <div class="card mt-3">
        <div class="card-body">
            <h1>IFS System Demo</h1>
            <p>Welcome to IFS system demo! This demo will demonstrate a simple inference attack, and how our system will handle it using one of two methods. Cell suppression, or modifying the result data. </p>
            <h3>Introduction</h3>
        </div>
    </div>
</main>
<!-- /.container -->
<footer  th:replace="fragments/common.html :: htmlfooter"></footer>
</body>
</html>
