<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<th:block th:include="fragments/common.html :: htmlheader"></th:block>
</head>
<body>
<header th:replace="fragments/common.html :: header"></header>

<main class="container" role="main">
    <div class="row">
        <div class="col">
        <ul class="nav nav-pills nav-fill mt-3">
            <li class="nav-item">
                <a class="nav-link" href="/admin">Policies</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/users">Users</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="/logs">Inference Attack Logs</a>
            </li>
            </ul>
        </div>
    </div>
     <div class="row">
        <div class="col">
            <h1>Database Log Entries:</h1>
            <div class="row">
                <div class="col mb-3">
                    <form action="#" th:action="@{/clearLog}"  method="get">
                        <button type="submit" class="btn btn-danger btn-lg">Clear Log</button>
                    </form>
                </div>
            </div>
            <table class="table">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">User Name</th>
                    <th scope="col">Tables & Columns Accessed</th>
                    <th scope="col">IDs Accessed</th>
                    <th scope="col">Date Accessed</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="log : ${logs}">
                    <th scope="row" th:text="${log.id}"/>
                    <td th:text="${log.userName}" />
                    <td>
                        <ul th:each="tca : ${log.tablesColumnsAccessed}">
                            <li th:text="${tca}" />
                        </ul>
                    </td>
                    <td>
                        <ul th:each="id : ${log.idsAccessed}">
                            <li th:text="${id}" />
                        </ul>
                    </td>
                    <td th:text="${#temporals.format(log.dateAccessed, 'dd-MM-yyyy HH:mm:ss')}" />
                </tr>
                </tbody>
            </table>
        </div>
    </div>
   </main>
<!-- /.container -->
<footer  th:replace="fragments/common.html :: htmlfooter"></footer>
</body>
</html>
