<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<th:block th:include="fragments/common.html :: htmlheader"></th:block>
</head>
<body>
<header th:replace="fragments/common.html :: header"></header>

<main class="container" role="main">
       <div class="row">
        <div class="col">
        <ul class="nav nav-pills nav-fill mt-3">
            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>
             <li class="nav-item">
                <a class="nav-link active" href="/patientMedicalInfo">Patient Medical Info</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/patientInfo">Patient Info</a>
            </li>
            </ul>
        </div>
    </div>
   
    <div class="card mt-3">
        <div class="card-body">
   <form action="#" th:action="@{/patientMedicalInfo}"  th:object="${patientMedicalInfoForm}" method="post">        
     <div class="form-group">
      <label for="patientId">Patient ID:</label>
      <input type="number" class="form-control" th:field="*{patientId}"  >
     </div>
         <div class="form-group">
    <label for="reasonOfVisit">Reason of Visit:</label>
    <input type="text" class="form-control" th:field="*{reasonOfVisit}">
  </div>
    <div class="form-group">
    <label for="lengthOfStay">Length of Stay:</label>
    <input type="text" class="form-control" th:field="*{lengthOfStay}">
  </div>
   <button type="submit" class="btn btn-primary mb-2 btn-lg btn-block">Search</button>
            </form>
        </div>
    </div>
    <div class="card mt-3">
        <div class="card-body">
        <h1>Results:</h1>
         <table class="table">
            <thead>
                <tr>
                <th scope="col">Patient ID</th>
                <th scope="col">Reason of Visit</th>
                <th scope="col">Length of Stay</th>
                <th scope="col">Inference</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="result : ${searchResults}">
                    <th scope="row" th:text="{result.patientId}" />
                    <td th:text="${result.reasonOfVisit}"/>
                    <td th:text="${result.lengthOfStay}"/>
                    <td th:text="${result.inference} ? 'yes' : 'no'">
                </tr>
            </tbody>
            </table>
        </div>
    </div>
</main>
<!-- /.container -->
<footer  th:replace="fragments/common.html :: htmlfooter"></footer>
</body>
</html>
