<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<th:block th:include="fragments/common.html :: htmlheader"></th:block>
</head>
<body>
    <header th:replace="fragments/common.html :: header"></header>
    <main class="container" role="main">
        <div class="row">
            <div class="col">
                <ul class="nav nav-pills nav-fill mt-3">
                    <li class="nav-item">
                        <a class="nav-link" href="/admin">Policies</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="#">Users</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/logs">Inference Attack Logs</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h1>List Of Users:</h1>
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">User Name</th>
                            <th scope="col">Creation date</th>
                            <th scope="col">Last login date</th>
                            <th scope="col">Actions</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="user: ${users}">
                            <input hidden th:name="id" th:value="${user.id}"/>
                            <td th:text="${user.userName}"/>
                            <td th:text="${user.creationDate}"/>
                            <td th:text="${user.lastLoginDate} "/>
                            <td>
                                <div class="btn-group" role="group" aria-label="Basic example">
                                    <!-- Place holder for now changing it later -->
                                    <a class="btn btn-primary" th:href="@{/editUser(userId=${user.id})}">
                                        <span class="fas fa-edit">
                                    </a>
                                    <a th:href="@{/removeUser(userId=${user.id})}" class="btn btn-danger" href="#" th:attr="onclick=|if(!confirmDelete('${user.userName}')){event.preventDefault()}|"  >
                                        <span class="fas fa-trash">
                                    </a>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <a type="button" href="/addUser" class="btn btn-success fas fa-plus"> Add User</a>

            </div>
            <!-- Modal -->

        </div>
    </main>
    <!-- /.container -->
    <footer  th:replace="fragments/common.html :: htmlfooter"></footer>
    <script>
        function confirmDelete(userName) {
            return confirm("Are you sure to delete this user: " + userName +"?");
        }
    </script>
</body>

</html>
